@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&family=Rampart+One&family=Roboto&family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f0f0;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 70px;
    background-color: #0f0e0e;
    padding: 10px;
    border-bottom: 1px solid hsla(0, 0%, 95%, 0.4);
}

h1 {
    font-size: 3.5rem;
}

#header .logo {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ebebeb;
    align-self: center;
}

#main .banner .banner-section h1 {
    padding-bottom: 20px;
    font-family: 'Rampart One', cursive;
    letter-spacing: 1px;
}

#main .banner .banner-section p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.6;
}

#navbar ul {
    color: #ebebeb;
}

#navbar ul li {
    display: inline-block;
    padding: 12px;
}

#navbar ul li a {
    color: #ebebeb;
    text-decoration: none;
    text-transform: uppercase;
}

#main .banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    background-color: #000000;
}

#main .banner {
    position: relative;
    height: 80vh;
    width: 100vw;
    background-image: url('./img/banner.jfif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 150px;
}

#main .banner .banner-section {
    position: relative;
    background-color: #f5f0f0;
    top: 15%;
    left: 10%;
    padding: 20px;
    max-width: 500px;
    /* height: 300px; */
    /* box-shadow: 0 1px 10px 4px rgba(0, 0, 0, 0.6); */
    border-radius: 3px;
}

#main .banner .banner-section .btn-section {
    height: 100px;
}

.btn {
    position: relative;
    top: 40%;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #07990e;
    text-decoration: none;
    color: #f5f0f0;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn:hover {
    background-color: #f5f0f0;
    border: 2px solid #07990e;
    color: #07990e;
}

.products {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
}

.product {
    display: flex;
    flex-direction: row;
    margin: 50px;
    width: 100%;
    padding: 20px;
}

.product-1,
.product-3 {
    text-align: left;
}

.product-2 {
    text-align: right;
}

.product .product-info {
    padding: 40px;
    max-width: 55%;
    height: 300px;
}

.product .product-info h2 {
    opacity: 0.9;
    padding: 8px 0;
}

.product .product-info p {
    padding: 10px 0;
    opacity: 0.7;
    letter-spacing: 1px;
    line-height: 1.6;
}

.product .product-img {
    max-width: 40%;
}

.product .product-img img {
    width: 100%;
    height: 100%;
}

.btn-reverse {
    background-color: #f5f0f0;
    border: 2px solid #07990e;
    color: #07990e;
    position: relative;
    top: 30%;
    padding: 10px 30px;
    border-radius: 30px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
}

.btn-reverse:hover {
    background-color: #07990e;
    color: #f5f0f0;
}

.team .group-1 {
    width: 100%;
    height: 200px;
    text-align: center;
}

.team .group .card {
    width: 400px;
    height: 700px;
    margin: 20px;
    padding: 20px;
    background-color: #ccc;
}

.team .group-2 {
    display: flex;
    flex-direction: row;

}